@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background:
    radial-gradient(1200px 700px at 55% -10%, rgba(43,140,255,.25), transparent 60%),
    radial-gradient(900px 600px at 20% 0%, rgba(255,204,102,.10), transparent 55%),
    #0b1220;
}
